body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  padding: .5rem;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}
.page h3 {
  padding-left: .5rem;
}
.page > section {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  overflow: auto;
  height: 15rem;
}

.logo {
  user-select: none;
  display: flex;
  flex-direction: column;
  font-family: Consolas, monospace;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu li {
  cursor: pointer;
}

.avatar {
  background-color: burlywood;
  display: flex;
  align-items: center;
  padding: .25rem;
  border-radius: 0.75rem;
  font-weight: bold;
}

.contents {
  display: flex;
  align-items: center;
  gap: .25rem;
  font-size: 0.735rem;
  padding: .25rem;
}

@media screen and (max-width: 1200px) {
  .app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .app {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}